.translate-app-container {
  background-color: #E56E94 !important;
  height: calc(100vh - 64px);
}

.user-entered-text-container {
  background-color: #f8e3e7;
}

.translated-text-container {
  background-color: #fbfbfa;
}
